.env
.venv
__pycache__/
*.pyc
autoencoders
autoencoder_training_data
.vscode
/results/experiment2/state_compressed_ae_untrain*
/results/experiment2/state_compressed_quant*
/results/experiment2/state_original_session*
/results/experiment2/cache
/results/experiment3/cache
/results/experiment4/cache